<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--section-gap);padding-bottom:var(--wp--preset--spacing--section-gap)">
  <!-- wp:heading {"level":1,"textAlign":"center","style":{"typography":{"fontSize":"4rem"}}} -->4|0|4<!-- /wp:heading -->
  <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"1.25rem"}}} -->
  <p class="has-text-align-center" style="font-size:1.25rem">This page seems to have wandered off the path.</p>
  <!-- /wp:paragraph -->
  <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
  <div class="wp-block-buttons">
    <!-- wp:button {"className":"is-style-sennen-primary"} -->
    <div class="wp-block-button is-style-sennen-primary"><a class="wp-block-button__link wp-element-button" href="/">Return Home</a></div>
    <!-- /wp:button -->
  </div>
  <!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
